<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/hono-service-device-registry/src/main/java/org/eclipse/hono/deviceregistry/Application.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="HONO_APP_MAX_INSTANCES" value="1"/>
        <mapEntry key="HONO_APP_TYPE" value="dummy"/>
        <mapEntry key="HONO_AUTH_HOST" value="localhost"/>
        <mapEntry key="HONO_AUTH_HOSTNAME_VERIFICATION_REQUIRED" value="false"/>
        <mapEntry key="HONO_AUTH_NAME" value="device-registry"/>
        <mapEntry key="HONO_AUTH_PORT" value="5671"/>
        <mapEntry key="HONO_AUTH_TRUST_STORE_PATH" value="${project_loc:/hono-demo-certs}/certs/trusted-certs.pem"/>
        <mapEntry key="HONO_AUTH_VALIDATION_CERT_PATH" value="${project_loc:/hono-demo-certs}/certs/auth-server-cert.pem"/>
        <mapEntry key="HONO_REGISTRY_AMQP_CERT_PATH" value="${project_loc:/hono-demo-certs}/certs/device-registry-cert.pem"/>
        <mapEntry key="HONO_REGISTRY_AMQP_KEY_PATH" value="${project_loc:/hono-demo-certs}/certs/device-registry-key.pem"/>
        <mapEntry key="HONO_REGISTRY_AMQP_PORT" value="25671"/>
        <mapEntry key="HONO_REGISTRY_REST_INSECURE_PORT" value="18080"/>
        <mapEntry key="HONO_REGISTRY_REST_INSECURE_PORT_ENABLED" value="true"/>
        <mapEntry key="HONO_REGISTRY_REST_PORT" value="18443"/>
        <mapEntry key="HONO_REGISTRY_SVC_SIGNING_SHARED_SECRET" value="g#aWO!BUm7aj*#%X*VGXKFhxkhNrMNj0"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.hono.deviceregistry.Application"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hono-service-device-registry"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=file"/>
</launchConfiguration>
